services:
  nginx-proxy:
    image: nginxproxy/nginx-proxy:alpine
    container_name: nginx-proxy
    restart: always
    ports:
      - "80:80"
    networks:
      - proxy-network
    environment:
      - TRUST_DOWNSTREAM_PROXY=true
      - ENABLE_IPV6=false
    volumes:
      - /var/run/docker.sock:/tmp/docker.sock:ro
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./conf.d:/etc/nginx/conf.d
    logging:
      driver: "json-file"
      options:
        max-size: "20m"
        max-file: "5"

networks:
  proxy-network:
    name: proxy-network
    driver: bridge
